.rodape {
    background-color: #6278f7;
    background-image: url('/public/imagens/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.rodape img {
    height: 50px;
}

.rodape p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
}

.rodape-social img {
    width: 25px;
    height: 25px;
    margin: 0 15px
}