.campo-texto {
    margin: 24px 0;
}

.campo-texto label {
    display: block;
    color: #212121;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

.campo-texto input {
    width: 100%;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 24px;
    box-sizing: border-box;
}

.campo-texto input::placeholder {
    font-weight: 400;
    color: #A4A4A4;
}