.lista-suspensa label {
    display: block;
    color: #212121;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

.lista-suspensa select {
    width: 100%;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 24px;
    box-sizing: border-box;
}